.body-padding {
	padding: 20px 20px 10px;
}
.flex {
	display: flex;
}
.small-12 {
	font-size: 12px;
}

/*====================== BORDERS ========================*/
.border-l0 {
	border-left: 0!important;
}

.border-r0 {
	border-right: 0!important;
}

.border-t1 {
	border-top: 1px solid!important;
}

.border-b0 {
	border-bottom: 0;
}
.border-b1 {
	border-bottom: 1px solid!important;
}

.border-0 {
	border: none!important;
}
.border-1 {
	border: 1px solid;
}
.border-2 {
	border: 2px solid;
}

/*====================== MARGINS ========================*/
.margin-b0 {
	margin-bottom: 0;
}
.margin-r5 {
	margin-right: 5px;
}

/*====================== PADDINGS ========================*/
.padding-0 {
	padding: 0!important;
}
.padding-b8 {
	padding-bottom: 8px;
}
.padding-b10 {
	padding-bottom: 10px;
}
.padding-b15 {
	padding-bottom: 15px;
}

.padding-l0 {
	padding-left: 0;
}
.padding-l5 {
	padding-left: 5px!important;
}
.padding-l10 {
	padding-left: 10px;
}
.padding-l15 {
	padding-left: 15px!important;
}

.padding-l2p {
	padding-left: 2%;
}
.padding-l7p {
	padding-left: 7%;
}
.padding-l10p {
	padding-left: 10%;
}
.padding-l15p {
	padding-left: 15%;
}
.padding-l20p {
	padding-left: 20%;
}
.padding-l23p {
	padding-left: 23%;
}
.padding-l25p {
	padding-left: 25%;
}
.padding-l28p {
	padding-left: 28%;
}
.padding-l30p {
	padding-left: 30%;
}

.padding-r3p {
	padding-right: 3%;
}
.padding-r30 {
	padding-right: 30px;
}

.padding-t3p {
	padding-top: 3%;
}
.padding-t20 {
	padding-top: 20px;
}

/*====================== TABLES ========================*/
.table-bordered td {
	padding: 0;
}

.table-bordered td, .table-bordered th,
.table thead th {
	border: 1px solid #333;
}

.table-bordered th, .table thead th {
	padding: 0;
}

/*====================== INPUTS ========================*/
input {
	width: 100%;
	font-size: 12px;	
	text-transform: uppercase;
}
input:focus {
  border-color: #777!important;
  border-bottom: 1.5px solid #2196F3!important;
  color: #000!important;
}

/*====================== HEIGHTS ========================*/
.height-20 {
	height: 20px;
}
.height-50 {
	height: 50px;
}

/*====================== WIDTHS ========================*/
.width-inherit {
	width: inherit;
}
.width-3 {
	width: 3%;
}
.width-5 {
	width: 5%;
}
.width-8 {
	width: 8%;
}
.width-10 {
	width: 10%;
}
.width-15 {
	width: 15%;
}
.width-20 {
	width: 20%;
}
.width-30 {
	width: 5%;
}
.width-35 {
	width: 35%;
}
.width-45 {
	width: 45%;
}
.width-70 {
	width: 70%;
}

/*====================== SAVE BUTTON ========================*/
.save {
    color: white;
    padding: 12px 37px;
    border-radius: 35px;

    background: green;
	background: -webkit-linear-gradient(-135deg, #1a635c, #5dbd61);
	background: -webkit-linear-gradient(-135deg, #1a635c, #5dbd61);
	background: -o-linear-gradient(-135deg, #1a635c, #5dbd61);
	background: -moz-linear-gradient(-135deg, #1a635c, #5dbd61);
	background: linear-gradient(-135deg, #1a635c, #5dbd61);
}
#mybutton {
    position: fixed;
    top: 3%;
    right: 2%;
}
#myPrintButton {
	position: fixed;
	top: 3%;
	left: 2%;
	z-index: 99999999;
}


@page {
	font-family: inherit;
	font-size: 12px;
	/*margin-top: 0;*/
	margin: 0;
}

.text-bold {
	font-weight: 700;
}

.underline {
	border-bottom: solid 1px;
}

.cont {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cont input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	/*height: 25px;
	width: 25px;*/
	height: 37px;
	width: 100%;
	/*background-color: #eee;*/
}

.cont:hover input ~ .checkmark {
	background-color: #ccc;
}

.cont input:checked ~ .checkmark {
	background-color: #2196F3;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.cont input:checked ~ .checkmark:after {
	display: block;
}

.cont .checkmark:after {
	left: 34px;
	top: 13px;
	width: 6px;
	/* left: 9px;
	top: 5px;
	width: 5px;*/
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.back-eee {
	background-color: #eee;
}

/*small*/
.smolCheck {
	position: absolute;
	top: 0;
	left: 0;
	height: 23px;
	width: 100%;
}

.cont:hover input ~ .smolCheck {
	background-color: #ccc;
}

.cont input:checked ~ .smolCheck {
	background-color: #2196F3;
}

.smolCheck:after {
	content: "";
	position: absolute;
	display: none;
}

.cont input:checked ~ .smolCheck:after {
	display: block;
}

.cont .smolCheck:after {
	left: 40%;
	top: 20%;
	width: 6px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}