th {
	text-align: center;
}
/* dataTables CSS modification & positioning */
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
	right: 0 !important;
	content: "" !important;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
	right: 0 !important;
	content: "" !important;
}
table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
  
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute !important;
    top: 12px !important;
    right: 8px !important;
    display: block !important;
    font-family: FontAwesome !important;
}
table.dataTable thead th.sorting:after {
    content: "\f0dc" !important;
    color: #ddd !important;
    font-size: 0.8em !important;
    padding-top: 0.12em !important;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de" !important;
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd" !important;
}
.table-hover > tbody > tr:hover {	
	background-color: #dde5ee;
}
table.datatable,
.dataTables_wrapper > .row {
    color: #333!important;
}

/*------------------------------------------------------------------
[ Sidebar Styles ]*/
.nav.side-menu>li.active, 
.nav.side-menu>li.current-page {
    border-right: 5px solid #f5cd06!important;
}
.left_col, 
.nav_title {
    background: #095017;
}
.nav.side-menu>li.active>a {
    background: linear-gradient(#355633,#2f572c),#2b542a!important;
}
.nav-sm ul.nav.child_menu {
    background: #45654b!important;
}
.nav-sm .navbar.nav_title a img {
    width: 100%!important;
}
.nav-sm .navbar.nav_title {
    width: 75px;
}
.nav-sm .container.body .col-md-3.left_col {
    width: 85px!important;
    position: fixed!important;
}
.site_title {
    height: 70px!important;
}

/*------------------------------------------------------------------
[ Btn Styles ]*/
.btn {
	border: 2px solid #076c1b;
    border-radius: 0;
}
.btn-primary {
    background: #076c1b;
}
.btn-primary:hover {
	background: #fff;
	border: 2px solid #076c1b;
	color: #333;
}
.btn-info {
    background: #31b0d5;
}
.btn-info:hover {
	background: #fff;
	border: 2px solid #076c1b;
	color: #333;
}
.btn-primary.focus, 
.btn-primary:focus,
.btn-primary.active, 
.btn-primary:active, 
.open>.dropdown-toggle.btn-primary {
    background-color: #095017!important;
    border-color: #095017!important;
}

/*------------------------------------------------------------------
[ Btn-folder Styles ]*/
.folderview:hover .fa-folder-o,
.folderview .fa-folder-open-o {
    display: none;
}
.folderview:hover .fa-folder-open-o {
    display: inline;
}

.form-control-feedback {
    color: #095017!important;
}
