b {
	font-weight: bold;
}
.small {
	font-size: 8px;
}

.width-30 {
	width: 30px;
}
.width-14 {
	width: 14%;
}

.border-b1 {
	border-bottom: 1px solid;
}

.padding-r8p {
	padding-right: 8%;
}
.padding-r15p {
	padding-right: 15%;
}
.padding-r20p {
	padding-right: 20%;
}
.padding-r30p {
	padding-right: 30%;
}

.padding-l100 {
	padding-left: 100px;
}

.padding-12 {
	padding: 30%;
}
